*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

::-webkit-scrollbar {
  height: 15px;
  background-color: #15202B;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #395461;
  border-radius: 10px;
}

#root{
  width: 100%;
  height: 100%;
}

.header{
  min-width: 50px;
  max-width: 50px;
}

.app{
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.pane-container {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.pane{
  min-width: 320px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  border: 1px solid #203242;
  border-radius: 10px;
  overflow: hidden;
}

.pane-header{
  height: 50px;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 20px black;
}

.pane-header-icon{
  padding: 5px;
  width: 100%;
  height: 100%;
}

.pane-header-control{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.pane-header-menu-button{
  width: 40px;
  margin: 5px 0;
  gap: 5px;
}

.user-icon{
  background-size: cover;
  border-radius: 999px;
  width: 100%;
  height: 100%;
}

.rounded-button{
  display: block;
  border: none;
  border-radius: 999px;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0);
  color: rgba(127, 127, 127, 1);
  transition: 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  cursor: pointer;
  padding: 0;
}

.rounded-button:hover{
  background-color: rgba(127, 127, 127, 0.2);
}

.pane-header-menu-button-right
{
  margin-left: auto;
}

.pane-content{
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pane-content-menu{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px;
  align-self: center;
  width: 310px;
  padding-top: 20px;
}

.pane-content-menu-item{
  min-width: 100px;
  min-height: 100px;
  padding: 5px;
  color: rgba(127, 127, 127, 1);
  align-self: flex-start;
}

.pane-content-menu-item .rounded-button{
  margin: 0 auto;
  width: 60px;
  height: 60px;
  font-size: large;
}

.pane-content-menu-item-label{
  text-align: center;
  font-size: small;
  cursor: default;
}